@model Vidly.ViewModels.AllMoviesViewModel

@{
    ViewBag.Title = "AllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

    <h2 class="@className"> @Model.Movies.Name</h2>

    @if (Model.Customers.Count == 0)
    {
        <p>No one has rented this movie before.</p>
    }
    else
    {
        <ul>
            @foreach (var cust in Model.Customers)
            {
                <li>@cust.Name</li>
            }
        </ul>
    }

